# #########ANSIBLE_MANAGED_BLOCK ######### #
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in k8s_etc_hosts %}
{{ item }}
{% endfor %}
# #########ANSIBLE_MANAGED_BLOCK ######### #
